SECRET_KEY=django-insecure-!-8@b^$u=+cc%d!l-ns$-j8e=du2u1hw_p(j2^5!xp!=g0i0_m
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0


SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hello_django_prod
SQL_USER=hello_django
SQL_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432

DATABASE=postgres
